.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px 22px;
  font-weight: 100;
  color: #6C798B;
  text-align: center;

  &__wrap{

  }

  &__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3px;
    transition: transform .01s linear, top .01s linear;

    img{
      display: block;
      width: 100%;
    }

    &-img{
      position: absolute;
      top: -13vh;
      left: calc( 50% - 75px );
      width: 149px;
      height: 163px;
    }

    &-name{
      width: 310px;
    }

    &-shadow{
      display: none;
    }

  }

  &__title{
    position: relative;
    max-width: 41vh;
    margin: 0 auto;
    font-size: 3.24vh;
    line-height: 5.1vh;
    letter-spacing: .5px;
    z-index: 2;
  }

  &__skip{
    position: absolute;
    bottom: 72px;
    left: 50%;
    font-size: 12px;
    color: #514CE3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;

    &:before,
    &:after{
      position: absolute;
      top: calc( 100% + 16px );
      width: 17.26px;
      height: 0;
      content: '';
    }

    &:before{
      left: calc( 50% - 15px);
      border-bottom: 1px solid #514CE3;
      -webkit-transform: rotate(330deg);
      transform: rotate(33deg);
    }

    &:after{
      left: calc( 50% - 2px);
      border-bottom: 1px solid #514CE3;
      -webkit-transform: rotate(-33deg);
      transform: rotate(-33deg);
    }

  }

}

@media (min-width: $tablet-portrait) {
  .hero {

    &__logo{

      &-name{
        top: -130%;
        height: 230%;

        &-clarification{
          position: absolute;
          top: -100%;
          left: 0;
          width: 100%;
          height: 200%;
          background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 99%);
          background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 99%);
          background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 99%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
        }

      }

      &-img{
        top: -8vh;
      }

    }

  }
}

@media (min-width: $desktop) {
  .hero {
    position: relative;
    padding: 50px calc( 50% - 655px ) 20px;

    &__wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 56px;
      width: 100%;
      height: 100%;

      &:after{
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        height: 97%;
        width: 100%;
        max-width: 1440px;
        background: url('../img/bg-hero.png') no-repeat 50% calc( 50% + 206px );
        background-size: 100% auto;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        content: '';
      }

    }

    &__title{
      position: relative;
      max-width: 100%;
      font-size: 36px;
      line-height: 54px;

      &:before{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -130px;
        width: 528px;
        height: 187px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background: url( '../img/hero-shadows-second.png' ) no-repeat center;
        background-size: cover;
      }

    }

    &__logo{
      top: 0;
      margin-bottom: 74px;
      transform: translate(0px, 21.6px);

      &-img{
        margin-top: -227px;
        left: calc( 50% - 272px );
        width: 542px;
        height: 588.5px;
      }

      &-name{
        position: relative;
        width: 1000px;
        height: 119px;

        &-clarification{
          top: -250%;
          height: 400%;
          transition: opacity .01s linear;

          &:after{
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 99%);
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 99%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 99%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
          }

        }

      }

      &-shadow{
        display: block;
        position: absolute;
        left: calc( 50% - 125px);
        opacity: 0;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
        bottom: -190px;
        width: 251px;
        height: 210px;

        img{
          display: block;
          width: 100%;
        }

      }

      &.topper{
        z-index: 1;

        &:before,
        &:after{
          opacity: 1;
        }

        .hero__logo-shadow{
          opacity: 1;
        }

      }

    }

    &__skip{
      bottom: 30px;
    }

  }
}