.portfolio {
  position: relative;
  max-width: 1162px;
  margin: 170px auto 23px;
  padding: 0 22px;
  color: #6C798B;
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;

  &__wrap{
    margin-bottom: 101px;
  }

  &__preface{
    margin-bottom: 54px;
    color: #6C798B;
    font-size: 24px;
    line-height: 40px;
    font-weight: 100;

    h1{
      margin-bottom: 41px;
      color: #514CE3;
      font-size: 10vmin;
      letter-spacing: .3em;
      font-weight: 900;
    }

  }

  &__item{
    position: relative;
    margin-bottom: 60px;

    &-img{
      overflow: hidden;

      img{
        display: block;
        width: 100%;
      }

    }

    &-content{
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;

      & > div{
        margin-bottom: 32px;
        padding: 22px;
        color: #6C798B;
        font-size: 14px;
        line-height: 28px;
        font-weight: 300;
        background-color: #fff;
        box-shadow: 0 10px 44px 0 rgba(0,0,0,0.1);

        h2{
          margin-bottom: 19px;
          font-size: 24px;
          line-height: 40px;
          font-weight: 200;
        }

      }

      .btn{
        width: 303px;

        & > span{
          font-size: 15px;
          padding: 18px 35px;
        }

      }

    }

  }

  &__footer{
    position: relative;
    padding: 0 22px 25px;
    color: #6C798B;
    font-size: 19px;
    font-weight: 100;
    line-height: 29px;
    text-align: center;

    & > div:first-child{
      margin-bottom: 53px;
    }

    &:after{
      position: absolute;
      top: calc( 50% - 2px );
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/logo_sign@2x.png) no-repeat center;
      background-size: auto 100%;
      opacity: .5;
      content: '';
      z-index: -1;
    }

  }

}

@media (min-width: $tablet-portrait) {
  .portfolio {
    margin-top: 211px;

    &__preface{
      width: 763px;
      margin: 0 0 122px auto;

      h1{
        font-size: 72px;
        letter-spacing: 40px;
        line-height: 108px;
      }

    }

    &__item{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &-img {
        max-width: 558px;

        & > div{
          padding: 52px 58px 58px;
        }

      }

      &-content{
        position: absolute;
        top: 33px;
        left: calc( 50% - 95px );
        width: 505px;
        align-items: flex-end;

        & > div{
          padding: 52px 58px 58px;
        }

      }

      &:nth-child(2n) {
        justify-content: flex-end;

        .portfolio__item-content {
          align-items: flex-start;
          top: 83px;
          left: auto;
          right: calc( 50% - 95px);

          & > div{
            padding: 55px 61px 54px;
          }

        }

      }

      &:nth-child(3n) {
        margin-left: 74px;

        .portfolio__item-content {
          left: calc(50% - 57px);

          & > div{
            padding: 52px 61px 58px;
          }


        }

      }

    }

    &__footer{
      font-size: 36px;
      line-height: 54px;
    }

  }
}

@media (min-width: $desktop) {
  .portfolio {

  }
}

