.site {
  overflow: hidden;
  min-height: 100vh;
  min-width: 320px;
  @include prompt;
  font-size: 100px;

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 22px;
  }

}

@media (min-width: $tablet-portrait) {
  .site {

  }
}

@media (min-width: $desktop) {
  .site {

  }
}

