.site {
  overflow: hidden;
  min-width: 320px;
  @include prompt;
  z-index: 2;

  &__header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 22px;
    z-index: 3;
    -webkit-transition: background-color .3s ease, padding .3s ease, transform .3s ease;
    transition: background-color .3s ease, padding .3s ease, transform .3s ease;

    &-wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.fixed{
      position: fixed;
      background-color: rgba(255,255,255,0.9);
    }

    &.hidden {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

  }

  &__footer{
    padding: 41px 48px;
  }

}

@media (min-width: $tablet-portrait) {
  .site {

  }
}

@media (min-width: $desktop) {
  .site {

    &__header{
      padding: 25px calc( 50% - 688px ) 37px;

      &-wrap{
        position: relative;
        justify-content: flex-end;
        padding: 0 20px;
      }

    }

    &__footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 73px calc( 50% - 685px) 51px;
    }

  }
}