.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 100px;
  min-width: 320px;
  @include prompt;
  overflow: hidden;

  &__header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 22px;

    &-wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

  &__footer{
    padding: 20px 22px;
  }

}

@media (min-width: $tablet-portrait) {
  .site {

  }
}

@media (min-width: $desktop) {
  .site {

    &__header{
      position: relative;
      padding: 50px calc( 50% - 655px ) 20px;

      &-wrap{
        position: relative;
        justify-content: flex-end;
      }

    }

    &__footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px calc( 50% - 655px ) 20px;
    }

  }
}

