.sub-menu {
  margin: 49px 0 52px;

  &__item{
    margin: 0 18px;
    font-size: 18.2px;
    line-height: 21px;
    width: auto!important;
  }

  &__swiper{
    padding-left: 28px;
  }

}

@media (min-width: $tablet-portrait) {
  .sub-menu {

  }
}

@media (min-width: $desktop) {
  .sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
}